{% if app.user is null %}
	{# Login Modal #}
	<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
		<div
			class="relative w-full h-full max-w-md md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-700">
				<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
				<div class="px-6 py-6 lg:px-8">
					<h3 class="mb-10 text-xl font-medium text-gray-900 dark:text-white">Connectez-vous sur Scrilab</h3>
					<turbo-frame id="loginframe">
						<form method="post" action="{{ path("app_login") }}">
							{% if error is defined %}
								{% if error %}
									<div class="flex justify-center items-center font-bold mt-10">

										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

									</div>
								{% endif %}
							{% endif %}
							<div>
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre adresse email</label>
								<div class="relative mb-6">
									<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
										<i class="fa-solid fa-at"></i>
									</div>
									<input type="email" value="{% if last_username is defined %}{{ last_username }}{% endif %}" name="email" id="inputEmail" autocomplete="email" autofocus>
								</div>
							</div>
							<div>
								<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre mot de passe</label>
								<div class="relative mb-6">
									<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
										<i class="fa-solid fa-key"></i>
									</div>
									<input type="password" name="password" id="inputPassword" autocomplete="current-password">
								</div>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="flex justify-between">
								<div class="flex items-start">
									<div class="flex items-center h-5">
										<input type="checkbox" id="remember" name="_remember_me">
									</div>
									<label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Se souvenir de moi</label>
								</div>
								<a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Mot de passe oublié ?</a>
							</div>
							<button data-modal-show="authentication-modal" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Connexion</button>
						</turbo-frame>
						<div class="text-sm font-medium text-gray-500 dark:text-gray-300">
							Not registered?
							<a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{# Register Modal #}
	<div id="register-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
		<div
			class="relative w-full h-full max-w-md md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-700">
				<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
				<div class="px-6 py-6 lg:px-8">
					<h3 class="mb-10 text-xl font-medium text-gray-900 dark:text-white">Connectez-vous sur Scrilab</h3>
					<turbo-frame id="registerframe"></turbo-frame>
				</div>
			</div>
		</div>
	</div>
{% endif %}
