{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

	<section class="col-span-12 content-evently">


		<ul>
			<li>Derniers commentaires</li>
			<li>Top semaine</li>
			<li>Top rédaction...</li>
		</ul>
	</section>
</section>{% endblock %}
