{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block body %}

	<section class="col-span-6 content-evently">
		<img src="{{ data_uri_thumbnail('images/camion.jpg', 40, 30) }}" {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', { src: asset('images/camion.jpg') } ) }} alt="A blurhash image that is replaced by the real image on load" width="400">
		s
	</section>
{% endblock %}
