{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

	<section class="col-span-12 content-evently">
		{% set ok = test %}
		{{ ok }}
		{{ controller_name }}
	</section>
</section>{% endblock %}
