{% extends 'base.html.twig' %}

{% block title %}Scrilab | Politique de confidentialité de Scrilab
{% endblock %}
{% block stylesheets %}
	<link rel="canonical" href="https://scrilab.com{{ canonicalUrl }}"/>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
	<div class="mx-auto  items-center flex sm:w-full md:1/6 lg:w-4/6 justify-center">
		<div class="px-6 lg:px-8 py-5 relative" style="width:100%">
			<h3 class="modal-header">
				<i class="fa-duotone fa-user-secret"></i>
				Politique de confidentialité de Scrilab
			</h3>
			<hr class="mt-5 mb-3">
			<ul class="cgu items-baseline dark:text-slate-200 cgu-full">
				<li>
					<p>Chez Scrilab, nous nous engageons à protéger la vie privée de nos clients. Cette politique de confidentialité explique comment nous collectons, utilisons et partageons les données personnelles que nous collectons à partir de nos clients.</p>
				</li>
				<li>
					<h3 class="font-semibold">1. Collecte de données personnelles</h3>
					<p>Nous collectons des données personnelles auprès de nos utilisateurs lorsqu'ils s'inscrivent sur notre site web. Les données personnelles que nous collectons peuvent inclure :
						<ul class="list-disc">
							<li>Nom</li>
							<li>Adresse e-mail</li>
						</ul>
					</p>
					<p>Nous utilisons ces données personnelles pour fournir à nos clients les services qu'ils ont demandés, pour communiquer avec eux au sujet de leurs publications. Nous ne partageons pas les données personnelles de nos clients avec des tiers, sauf si cela est nécessaire pour fournir le service demandé, pour se conformer à une exigence légale ou pour protéger nos droits ou notre propriété.</p>
				</li>
				<li>
					<h3 class="font-semibold">2. Protection des données personnelles</h3>
					<p>Nous prenons des mesures de sécurité raisonnables pour protéger les données personnelles de nos clients contre tout accès non autorisé, toute divulgation ou toute utilisation abusive. Nous stockons les données personnelles de nos clients sur des serveurs sécurisés et cryptons les données sensibles telles que les mots de passe.</p>
				</li>
				<li>
					<h3 class="font-semibold">3. Durée de conservation des données personnelles</h3>
					<p>Nous ne conservons pas les données personnelles de nos clients plus longtemps que nécessaire pour fournir les produits ou services demandés ou pour se conformer aux exigences légales. Nous détruisons les données personnelles de nos clients de manière sécurisée une fois que nous n'avons plus besoin de les conserver.</p>
				</li>
				<li>
					<h3 class="font-semibold">4. Droits des clients</h3>
					<p>Nos clients ont le droit d'accéder, de modifier ou de supprimer les données personnelles que nous avons collectées à leur sujet. Ils ont également le droit de retirer leur consentement à tout moment. Pour exercer ces droits, les clients peuvent nous contacter à l'adresse e-mail ou postale fournie ci-dessous.</p>
				</li>
				<li>
					<h3 class="font-semibold">5. Contact</h3>
					<p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à l'adresse e-mail ou postale suivante :</p>
					<p class="text-center bg-slate-200 rounded" style="padding-top:10px;padding-bottom:10px">
						<strong>Scrilab</strong><br>
						32 bd Jules Verne<br>
						44300 Nantes<br>
						<a href="mailto:contact@scrilab.fr" class="text-blue-600 hover:underline">contact@scrilab.fr</a>

					</p>
				</li>
			</ul>

		</div>
	</div>

{% endblock %}
