{% extends 'base.html.twig' %}

{% block title %}Scrilab | Web-éditeur
{% endblock %}
{% block stylesheets %}
	<link rel="canonical" href="https://scrilab.com"/>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
	<textarea class="assign-user"></textarea>
	<div
		class="assign-user-dropdown" style="display: none;">{# <!-- Les div des utilisateurs seront ajoutés ici dynamiquement par JavaScript --> #}
	</div>
{% endblock %}
