{% extends 'base.html.twig' %}

{% block title %}Scrilab | Page de test
{% endblock %}
{% block stylesheets %}
	<link rel="canonical" href="https://scrilab.com"/>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

	<textarea class="assign-user"></textarea>
	<div class="assign-user-dropdown" style="display: none;"></div>
	<canvas id="canvas-image-blending"></canvas>

{% endblock %}
