<div class="bg-gray-100">
	<div class="max-w-2xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
		<div class="bg-white shadow overflow-hidden sm:rounded-lg">
			<div class="px-4 py-5 sm:px-6">
				<h3 class="text-lg leading-6 font-medium text-gray-900">
					Bienvenue sur Scrilab ! Mais avant toute chose...
				</h3>
				<p class="mt-1 max-w-2xl text-sm text-gray-500">
					Merci de bien vouloir confirmer votre adresse e-mail en cliquant sur le lien suivant :
				</p>
			</div>
			<div class="border-t border-gray-200 px-4 py-5 sm:px-6">
				<a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>. Ce lien expirera dans
				{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
			</div>
		</div>
	</div>
</div>
