{% extends 'base.html.twig' %}

{% block title %}Créer un compte sur Scrilab
{% endblock %}
{% block metatags %}
	<meta name="turbo-visit-control" content="reload">
	<meta name="description" content="Créer un compte sur Scrilab">
	<link rel="canonical" href="https://scrilab.com/register"/>
{% endblock %}
{% block body %}
	<div class="mx-auto  items-center flex sm:w-full md:1/6 lg:w-3/6 justify-center">
		<div class="px-6 lg:px-8 relative">
			<h3 class="modal-header">
				<i class="fa-duotone fa-user-plus ml-5"></i>
				<span>Rejoindre Scrilab</span>
			</h3>
			<hr class="mb-5 mt-5">
			<div class="block">
				<a href="{{path("connect_google")}}" class="opacity-90 rounded  hover:opacity-100 text-white font-bold py-2 px-4 flex flex-row items-center justify-center mx-auto gap-x-4">
					<img src="/images/inscription_google.png" class="h-14" alt="Se connecter avec Google"/>
				</a>
				<div class="hr-space">
					<hr>
					<div>
						Ou avec Scrilab
					</div>
				</div>
			</div>
			<div class="text-left -mt-5">
				<turbo-frame id="register-full-frame">

					{{ form_start(registrationFormFull, {attr: {'novalidate': 'novalidate'}}) }}
					{% include "./partials/_form-row.html.twig" with {'form': registrationFormFull.username, 'icon':"fa-user-vneck"} %}
					{% include "./partials/_form-row.html.twig" with {'form': registrationFormFull.email, 'icon':"fa-envelope"} %}
					{% include "./partials/_form-row.html.twig" with {'form': registrationFormFull.plainPassword, 'icon':"fa-lock-keyhole"} %}
					{% include "./partials/_form-row.html.twig" with {'form': registrationFormFull.agreeTerms, 'icon':"", check:true, checkText:"J'accepte les <button onclick='MicroModal.show(\"popup-cgu\")' type='button' class='hover:underline font-bold'>CGU</button> de Scrilab", class:"text-xs"} %}
					<button type="submit" class="button-classic w-full flex justify-center button-slate">
						<i class="fa-duotone fa-user-plus"></i>
						C'est parti !
					</button>
					{{ form_end(registrationFormFull) }}</div>
				<hr class="mb-0">
				<div class="flex flex-row justify-center items-center gap-x-2 text-s text-sm text-slate-600 dark:text-slate-200">
					<i class="fa-duotone fa-chevrons-left"></i>
					<a href="{{path("app_login_full")}}" target="_top" class="modal-register-login-button">
						J'ai déjà un compte Scrilab
					</a>
				</div>
			</turbo-frame>
		</div>
	</div>

{% endblock %}
