{# Login Modal #}
<div id="popup-cgu" tabindex="-1" aria-hidden="true" class="modal micromodal-slide  z-50">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close class=" max-w-lg md:h-auto  rounded-lg shadow">
		<div class="modal__container items-baseline flex md:flex-none justify-items-center justify-center" data-micromodal-close role="dialog" aria-modal="true" aria-labelledby="popup-cgu-title">
			<div class="px-6 py-6 lg:px-8 relative">
				<button tabindex="5" type="button" onclick='MicroModal.close("popup-cgu")' class="absolute top-0 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex dark:hover:bg-gray-800 dark:hover:text-white" data-micromodal-close>
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
				<h3 class="text-xl font-medium text-gray-900 dark:text-white -mt-5">
					<span class="material-icons-outlined">
						mode_fan
					</span><br>
					Conditions générales d'utilisation de Scrilab
				</h3>
				<hr class="mt-5 mb-3">
				<div class="text-justify">
					<ul class="cgu items-baseline dark:text-slate-200">
						<li>
							<p>Veuillez lire attentivement les présentes Conditions Générales d'Utilisation (ci-après dénommées « CGU ») avant d'utiliser Scrilab.</p>
							<p>En utilisant Scrilab, vous acceptez les présentes CGU et vous vous engagez à les respecter.</p>
						</li>
						<li>
							<h3>1. Description de Scrilab</h3>
							<p>Scrilab est une application web qui permet à ses utilisateurs de publier leurs textes (romans, poésie, etc.) directement sur sa plateforme. Les utilisateurs peuvent également lire et commenter les textes des autres utilisateurs de Scrilab.</p>
						</li>
						<li>
							<h3>2. Propriété des publications</h3>
							<p>Toute publication effectuée sur Scrilab est la propriété exclusive de son auteur. En publiant du contenu sur Scrilab, l'utilisateur conserve tous les droits sur son contenu et autorise simplement Scrilab à afficher et distribuer son contenu.<br><br>L'utilisateur demeure le seul responsable de son contenu et des conséquences de sa publication. Scrilab ne peut être tenu responsable du contenu publié par les utilisateurs de Scrilab.</p>
						</li>
						<li>
							<h3>3. Utilisation de Scrilab</h3>
							<p class="italic">En utilisant Scrilab, l'utilisateur s'engage à ne pas :<br>
								<ul class="list-disc">
									<li>Publier du contenu qui viole les droits d'auteur, les marques de commerce, la vie privée ou tout autre droit de propriété intellectuelle d'une autre personne.</li>
									<li>Publier du contenu offensant, diffamatoire, obscène, pornographique (sans en avertir les autres utilisateurs), menaçant ou violent.</li>
									<li>Utiliser Scrilab à des fins illégales ou pour promouvoir des activités illégales.</li>
									<li>Tenter d'accéder aux comptes d'autres utilisateurs ou à tout autre système informatique ou réseau connecté à Scrilab sans autorisation.</li>
								</ul>
								<br><br>Scrilab se réserve le droit de supprimer tout contenu publié par un utilisateur qui ne respecte pas les présentes CGU ou qui est jugé inapproprié, sans préavis ni justification.</p>
						</li>
						<li>
							<h3>4. Propriété intellectuelle</h3>
							<p>Tous les droits de propriété intellectuelle liés à Scrilab, y compris les droits d'auteur, les marques de commerce, les brevets, les secrets commerciaux et les autres droits de propriété intellectuelle, sont la propriété de Scrilab ou de ses concédants de licence.
								<br><br>L'utilisateur s'engage à ne pas copier, reproduire, modifier, distribuer, afficher publiquement, ou créer des œuvres dérivées de Scrilab sans autorisation expresse de Scrilab.</p>
						</li>
						<li>
							<h3>5. Responsabilité de l'Utilisateur</h3>
							<p>L'utilisateur est responsable de toute activité effectuée sur son compte et est tenu de maintenir la confidentialité de son mot de passe.
								<br><br>
								L'utilisateur reconnaît et accepte que Scrilab ne peut être tenu responsable de toute perte ou dommage résultant de l'utilisation non autorisée de son compte.</p>
						</li>
						<li>
							<h3>6. Limitation de responsabilité</h3>
							<p>L'utilisateur reconnaît et accepte que l'utilisation de Scrilab se fait à ses propres risques et périls. Scrilab ne peut être tenu responsable de toute perte ou dommage résultant de l'utilisation de Scrilab.
								<br><br>Scrilab ne garantit pas que Scrilab sera disponible en permanence, sans interruption ou sans erreur. Scrilab se réserve le droit de suspendre ou de mettre fin à Scrilab à tout moment, sans préavis ni justification.
								<br><br>Dans la mesure maximale autorisée par la loi applicable, Scrilab décline toute garantie, expresse ou implicite, y compris, mais sans s'y limiter, les garanties implicites de qualité marchande, d'adéquation à un usage particulier et de non-violation.
								<br><br>En aucun cas, Scrilab ne pourra être tenu responsable de tout dommage direct, indirect, accessoire, spécial ou consécutif découlant de l'utilisation ou de l'impossibilité d'utiliser Scrilab.</p>
						</li>
						<li>
							<h3>7. Modification des CGU</h3>
							<p>Scrilab se réserve le droit de modifier les présentes CGU à tout moment, sans préavis ni justification. Les modifications prendront effet immédiatement après leur publication sur Scrilab. En continuant d'utiliser Scrilab après la publication des modifications, l'utilisateur accepte les nouvelles CGU.</p>
						</li>
						<li>
							<h3>8. Résiliation</h3>
							<p>L'utilisateur peut mettre fin à son utilisation de Scrilab à tout moment en supprimant son compte. Scrilab se réserve le droit de suspendre ou de mettre fin à l'accès de l'utilisateur à Scrilab à tout moment, sans préavis ni justification.</p>
						</li>
						<li>
							<h3>9. Loi applicable et juridiction compétente</h3>
							<p>Les présentes CGU sont régies et interprétées conformément aux lois françaises. Tout litige découlant des présentes CGU sera soumis à la juridiction exclusive des tribunaux français.</p>
						</li>
						<li>
							<h3>10. Contact</h3>
							<p>Pour toute question ou préoccupation concernant les présentes CGU ou l'utilisation de Scrilab, veuillez contacter Scrilab à l'adresse suivante :
								<a href="mailto:contact@scrilab.com" class="hover:underline text-sky-700">contact@scrilab.com</a>.</p>
						</li>
						<li>
							<h3>11. Dispositions générales</h3>
							<p>Si une disposition des présentes CGU est jugée invalide ou inapplicable par une juridiction compétente, cette disposition sera supprimée des présentes CGU sans affecter la validité ou l'applicabilité des autres dispositions.

								<br><br>Les présentes CGU constituent l'intégralité de l'accord entre l'utilisateur et Scrilab concernant l'utilisation du site, et remplacent tous les accords antérieurs ou contemporains entre les parties.
								<br><br>Le fait que Scrilab n'exerce pas un droit ou une disposition des présentes CGU ne constitue pas une renonciation à ce droit ou à cette disposition.
								<br><br>Les titres des sections des présentes CGU sont fournis pour des raisons de commodité seulement et ne modifient pas les termes ou les conditions des présentes.
								<br><br>Les présentes CGU sont applicables aux utilisateurs de Scrilab dans leur intégralité, y compris les nuances concernant la propriété des publications.
								<br><br>En utilisant Scrilab, l'utilisateur reconnaît avoir lu et compris les présentes CGU et accepte d'être lié par les termes et conditions des présentes.
							</p>
						</li>
						<li>
							<h3>12. Langue</h3>
							<p>Les présentes CGU ont été rédigées en français. Si une traduction des présentes CGU est fournie pour une autre langue, la version française prévaudra en cas de conflit ou d'incohérence.</p>
						</li>
					</li>
					<li>
						<h3>13. Acceptation des CGU</h3>
						<p>L'utilisateur doit accepter les présentes CGU pour pouvoir utiliser Scrilab. En utilisant Scrilab, l'utilisateur confirme son acceptation des présentes CGU et s'engage à les respecter.
							<hr>
							<br>Si l'utilisateur n'accepte pas les présentes CGU, il ne doit pas utiliser Scrilab.
						</p>
					</li>
				</li>
			</ul>
		</div>
	</div>
</div></div></div>
