<div class="mb-5">
	{{ form_label(form) }}
	<div class="relative">
		<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
			<span class="material-symbols-outlined">
				{{icon}}
			</span>
		</div>
		{{ form_widget(form) }}
	</div>
	<span class="form_error">{{ form_errors(form) }}</span>
</div>
