{% if app.user is null %}
	{# Login Modal #}
	<div id="popup-login" tabindex="-1" aria-hidden="true" class="modal micromodal-slide  z-50">
		<div
			class="modal__overlay" tabindex="-1" data-micromodal-close class=" max-w-md md:h-auto  rounded-lg shadow">
			<!-- Modal content -->
			<div class="modal__container" data-micromodal-close role="dialog" aria-modal="true" aria-labelledby="popup-login-title">
				<button tabindex="5" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-micromodal-close>
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
				<div class="px-6 py-6 lg:px-8">
					<h3 class="text-xl font-medium text-gray-900 dark:text-white">
						Connectez-vous sur Scrilab
						<span class="material-symbols-outlined">
							login
						</span>
					</h3>
					<hr class="mt-5 mb-3">
					<button tabindex="0" data-micromodal-close data-micromodal-trigger="popup-register" class="text-center w-full mb-3 text-sm text-blue-700 font-medium hover:underline">Vous n'avez pas de compte ? Inscrivez-vous !</button>
					<hr class="mb-5">
					<turbo-frame id="loginframe">
						<form method="post" action="{{ path("app_login") }}">
							{% if error is defined %}
								{% if error %}
									<div class="flex justify-center items-center font-bold mt-10">
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									</div>
								{% endif %}
							{% endif %}
							<div>
								<label tabindex="1" for="email" class="block text-sm text-left font-medium text-gray-900 dark:text-white">Votre adresse email</label>
								<div class="relative mb-6">
									<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
										<span class="material-symbols-outlined">
											mail
										</span>
									</div>
									<input type="email" value="{% if last_username is defined %}{{ last_username }}{% endif %}" name="email" id="inputEmail" autocomplete="email" autofocus>
								</div>
							</div>
							<div>
								<label tabindex="3" for="password" class="block text-left text-sm font-medium text-gray-900 dark:text-white">Votre mot de passe
									<button tabindex="4" type="button" data-micromodal-close data-micromodal-trigger="popup-forgotpw" class="text-sm font-medium text-blue-600  dark:text-blue-800 float-right">
										<span class="material-symbols-outlined">
											lock_reset
										</span>
										<span class="hover:underline">Oublié ?</span>
									</button>
								</label>
								<div class="relative mb-6">
									<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
										<span class="material-symbols-outlined">
											lock
										</span>
									</div>
									<input type="password" name="password" id="inputPassword" autocomplete="current-password">
								</div>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="flex justify-between ">
								<div class="flex items-start">
									<div class="flex items-center h-5">
										<input type="checkbox" id="remember" name="_remember_me">
									</div>
									<label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Se souvenir de moi</label>
								</div>
							</div>

							<button type="submit" class="button-classic w-full flex justify-center button-sky -mt-10">
								<span class="material-symbols-outlined">
									login
								</span>
								Connexion</button>
						</turbo-frame>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "partials/_reset_password-modal.html.twig" %}

{% endif %}
