{% if app.user is null %}
	{# Login Modal #}
	<div id="popup-login" tabindex="-1" aria-hidden="true" class="modal micromodal-slide  z-50">
		<div
			class="modal__overlay" tabindex="-1" data-micromodal-close class=" max-w-md md:h-auto  rounded-lg shadow ">
			<!-- Modal content -->
			<div class="modal__container  h-screen sm:h-auto sm:w-auto w-screen items-center  flex md:flex-none justify-items-center justify-center" role="dialog" aria-modal="true" aria-labelledby="popup-login-title" style="width:100%">
				<div class="px-6 py-6 lg:px-8 relative" style="width:100%">
					<button tabindex="5" onclick='MicroModal.show("popup-login")' type="button" class="absolute top-0 right-2.5 text-slate-400 bg-transparent hover:bg-gray-200 hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-micromodal-close>
						<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
					<h3 class="modal-header">
						<i class="fa-duotone fa-right-to-bracket"></i>
						Connexion sur Scrilab
					</h3>
					<hr class="mb-0">
					<button tabindex="0" onclick='document.getElementById("popup-login").classList.add("animate__animated","animate__fadeOut","animate__faster");MicroModal.close("popup-login");document.getElementById("popup-login").classList.remove("animate__animated","animate__fadeOut")' data-micromodal-trigger="popup-register" class="modal-register-login-button">
						Je n'ai pas encore de compte Scrilab&nbsp;&nbsp;&nbsp;<i class="fa-duotone fa-chevrons-right"></i>

					</button>
					<turbo-frame id="loginframe" class="w-full">
						<form method="post" action="{{ path("app_login") }}" class="w-full">
							{% if error is defined %}
								{% if error %}
									<div class="flex justify-center items-center font-bold mt-10">
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									</div>
								{% endif %}
							{% endif %}
							<div>
								<label tabindex="1" for="email" class="block text-sm text-left font-semibold text-slate-900 dark:text-white">Mon adresse email</label>
								<div class="relative mb-6">
									<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
										<i class="fa-regular fa-envelope dark:text-slate-200"></i>
									</div>
									<input type="email" value="{% if last_username is defined %}{{ last_username }}{% endif %}" name="email" id="inputEmail" autofocus>
								</div>
							</div>
							<div>
								<label tabindex="3" for="password" class="block text-left text-sm font-semibold text-slate-900 dark:text-white">Mon mot de passe
									<button tabindex="4" type="button" onclick='MicroModal.show("popup-forgotpw");document.getElementById("popup-login").classList.add("animate__animated","animate__fadeOut");MicroModal.close("popup-login");document.getElementById("popup-login").classList.remove("animate__animated","animate__fadeOut")' class="text-sm font-medium text-blue-600  dark:text-sky-400 float-right">
										<i class="fa-sharp fa-regular fa-key-skeleton"></i>
										&nbsp;&nbsp;<span class="hover:underline text-blue-600  dark:text-sky-400">oublié ?</span>
									</button>
								</label>
								<div class="relative mb-6">
									<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
										<i class="fa-regular fa-lock-keyhole dark:text-slate-200"></i>
									</div>
									<input type="password" name="password" id="inputPassword">
								</div>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="flex justify-between ">
								<div class="flex items-start">
									<div class="flex items-center h-5">
										<input type="checkbox" id="remember" name="_remember_me">
									</div>
									<label for="remember" class="ml-2 text-sm font-semibold text-slate-900 dark:text-slate-300">Rester connecté(e)</label>
								</div>
							</div>

							<button type="submit" class="button-classic w-full flex justify-center button-slate -mt-10">
								<i class="fa-duotone fa-right-to-bracket"></i>
								Connexion</button>
						</form>
					</turbo-frame>
				</div>
			</div>
		</div>
	</div>
{% endif %}
