{% for message in app.session.flashBag.get('success') %}
	<div id="flashbag-success" class="hidden" data-count="1" data-status="success">
		<i class="fa-light fa-circle-check"></i>
		{{ message|raw }}</div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
	<div id="flashbag-success" class="hidden" data-count="1" data-status="error">{{ message|raw }}</div>
{% endfor %}
