{% for message in app.session.flashBag.get('success') %}
	<div id="flashbag-success" class="hidden" data-count="1" data-status="success">
		<span class="material-icons-outlined">
			task_alt
		</span>
		{{ message|raw }}</div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
	<div id="flashbag-success" class="hidden" data-count="1" data-status="error">{{ message|raw }}</div>
{% endfor %}
