{% if app.user is null %}
	<div id="popup-register" tabindex="-1" aria-hidden="true" class="modal micromodal-slide  z-50">
		<div
			class="modal__overlay" tabindex="-1" data-micromodal-close class=" max-w-md md:h-auto  rounded-lg shadow">
			<!-- Modal content -->
			<div class="modal__container  h-screen sm:h-auto sm:w-auto w-screen items-center flex md:flex-none justify-items-center justify-center" role="dialog" aria-modal="true" aria-labelledby="popup-register-title">
				<div class="px-6 py-6 lg:px-8 relative">
					<button type="button" onclick='MicroModal.close("popup-register")' class="absolute right-2.5 top-0 text-slate-400 bg-transparent hover:bg-gray-200 hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
						<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
					<h3 class="modal-header">
						<i class="fa-duotone fa-user-plus ml-5"></i>
						<span>Rejoindre Scrilab</span>
					</h3>
					<hr class="mb-5 mt-5">
					<a href="{{path("connect_google")}}" class="bg-[#DB4437] opacity-90 rounded  hover:opacity-100 text-white font-bold py-2 px-4 flex flex-row items-center justify-center mx-auto gap-x-4">
						<i class="fa-brands fa-google"></i>
						<span>M'inscrire avec Google</span>
					</a>
					<hr class="mb-5 mt-5">
					<div class="text-left">
						{{ render(controller('App\\Controller\\RegistrationController::register')) }}
						<hr class="mb-0">

						<div class="flex flex-row justify-center items-center gap-x-2 text-s text-sm text-slate-600 dark:text-slate-200">
							<i class="fa-duotone fa-chevrons-left"></i>
							<button class="modal-register-login-button" data-micromodal-trigger="popup-login" onclick='MicroModal.show("popup-login");document.getElementById("popup-register").classList.add("animate__animated","animate__fadeOut","animate__faster");MicroModal.close("popup-register");document.getElementById("popup-register").classList.remove("animate__animated","animate__fadeOut")'>
								J'ai déjà un compte Scrilab
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
