{% extends 'base.html.twig' %}

{% block title %}Hello PublicationController!
{% endblock %}

{% block body %}

	<div class="flex h-screen justify-center items-center ">
		<div class="xl:w-4/12 md:w-4/12 ">
			<div class="mx-auto my-0 ">
				<h1>Publier un texte</h1>
				{{ form_start(form) }}

				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
