<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
{# traduction #}

<a href="{{app.request.getSchemeAndHttpHost()}}{{ path('app_reset_password', {token: resetToken.token}) }}">réinitialiser mon mot de passe</a>.

<p>Ce lien expirera dans
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>À tout de suite ! :)</p>
