{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe
{% endblock %}

{% block body %}
	<section class="col-span-12 grid flex-row grid-cols-12 gap-5 text-center mb-20 mt-10">
		<h1 class="text-center font-serif col-span-12">

			<i class="fa-regular fa-envelope-circle-check  mb-10"></i>
			<br/>
			Réinitialisation de votre mot de passe
		</h1>
		<hr class="col-span-8 col-start-3">
		<div class=" col-span-8 col-start-3 text-left">
			{{ form_start(resetForm)}}
			{% include "./partials/_form-row.html.twig" with {'form': resetForm.plainPassword.first, 'icon':"lock_reset"} %}
			{% include "./partials/_form-row.html.twig" with {'form': resetForm.plainPassword.second, 'icon':"lock_reset"} %}
			<div class="flex justify-center">
				<button class="button-classic button-sky">Réinitialiser</button>
			</div>
			{{ form_end(resetForm) }}
		</div>
	</section>
{% endblock %}
