<turbo-frame id="user-nav">
	{% include "/user/_partials/_user-nav.html.twig" with {username:userInfo.username} %}
	<div class="my-special-hr ">
		<hr>
		<span>{{challenges|length > 1 ? challenges|length ~ " exercices créés" : challenges|length == 0 ? "Aucun exercice créé" : challenges|length ~ " exercice créé"}}</span>
		<hr class="mb-5">
	</div>
	<div class="flex flex-col  gap-y-5  mt-7">
		{% for item in challenges %}
			{% include "/challenge/_partials/challenge-card.html.twig" with {item:item} %}
		{% endfor %}
	</div>
</turbo-frame>
