{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!
{% endblock %}

{% block body %}
	<section class="col-span-12 justify-items-center items-center h-screen">
		<h1 class="text-center">Erreur 404</h1>
		<p class="text-center">La page que vous recherchez n'a pas été trouvée.</p>
	</section>
{% endblock %}
