{% if type is defined %}
	<div class=" self-baseline w-7 h-7 relative flex-shrink-0">
		{% if pic %}
			<img class="w-full h-full object-cover rounded-full" src="{{ pic }}" alt="avatar">
		{% else %}
			<div class="w-full h-full object-cover rounded-full bg-slate-500">
				<div class=" h-full flex mx-auto items-center justify-center text-xs text-slate-200">
					{{ user|slice(0,1)|upper }}
				</div>
			</div>
		{% endif %}
	</div>

{% else %}

	<div class="mt-0.5 w-5 h-5 relative flex-shrink-0">
		{% if pic %}
			<img class="w-full h-full object-cover rounded-full" src="{{ pic }}" alt="avatar">
		{% else %}
			<div class="w-full h-full object-cover rounded-full bg-slate-500">
				<div class="w-full h-full flex items-center justify-center text-[0.65rem] text-slate-200">
					{{ user|slice(0,1)|upper }}
				</div>
			</div>
		{% endif %}
	</div>
{% endif %}
