<div data-popover id="popover-markdown" role="tooltip" class=" absolute z-10 invisible  w-64 text-sm text-slate-500 transition-opacity duration-300 bg-white border border-slate-200 rounded-lg shadow-sm opacity-0 dark:text-slate-400 dark:border-slate-600 dark:bg-slate-800">
	<div class="px-3 py-2 bg-slate-100 border-b border-slate-200 rounded-t-lg dark:border-slate-600 dark:bg-slate-700">
		<div class="font-semibold text-slate-900 dark:text-white text-center">
			<i class="fa-brands fa-markdown"></i>&nbsp;&nbsp;Balises Markdown</div>
	</div>
	<div class="px-3 py-2">
		<ul class="h-52 overflow-y-auto">
			<li class="font-semibold text-xs pb-2 text-slate-800 dark:text-slate-500">Ces balises permettent la mise en forme de votre
				{{type is defined ? type == "sujet" ? "sujet" : type == "reponse" ? : "réponse" : "commentaire" }}</li>
			<li class="font-semibold my-2 underline">Titres</li>
			<li># Titre 1</li>
			<li>## Titre 2</li>
			<li>### Titre 3</li>
			<li>#### Titre 4</li>
			<li>##### Titre 5</li>
			<li>###### Titre 6</li>
			<li class="font-semibold my-2 underline">Formatage du texte</li>
			<li>**texte en gras**</li>
			<li>*texte en italique*</li>
			<li>~~texte barré~~</li>
			<li class="font-semibold my-2 underline">Liste non ordonnée</li>
			<li>- Élément 1</li>
			<li>- Élément 2</li>
			<li>- Élément 3</li>
			<li class="font-semibold my-2 underline">Liste ordonnée</li>
			<li>1. Élément 1</li>
			<li>2. Élément 2</li>
			<li>3. Élément 3</li>
			<li class="font-semibold my-2 underline">Citation</li>
			<li class="code">> Ceci est une citation.</li>
			<li class="font-semibold my-2 underline">Code</li>
			<li>`bloc de code`</li>
			<li class="font-semibold my-2 underline">Lien</li>
			<li>[Texte du lien](URL)</li>
			<li class="font-semibold my-2 underline">Image</li>
			<li>![Nom de l'image](URL de l'image)</li>
			<li class="font-semibold my-2">Ligne horizontale</li>
			<li>---</li>
		</ul>
	</div>
	<div data-popper-arrow></div>
</div>
