{% extends 'base.html.twig' %}

{% block title %}
	Fil d'actualité -
	{{ parent() }}

{% endblock %}

{% block body %}
	<h1 class="text-center font-serif  md:mt-0 mb-5">Fil d'actualité</h1>
	<p class="text-center dark:text-slate-400 italic">
		<i class="fa-duotone fa-signal-stream animate-pulse text-rose-500 dark:text-emerald-500"></i>&nbsp;&nbsp;Cette page d'actualités se met à jour en temps réel ! Il n'est pas nécessaire de la rafraîchir.
	</p>
	<hr class="my-2 mb-2 mt-8 border-2">
	{{  component('feed_component')}}

{% endblock %}
