{% extends 'base.html.twig' %}

{% block title %}Hello SocialFeedController!
{% endblock %}

{% block body %}
	<h1 class="text-center font-serif  md:mt-0 mb-10">Fil d'actualité</h1>

	{{  component('feed_component')}}

{% endblock %}
