{% extends 'base.html.twig' %}

{% block title %}
	Fil d'actualité -
	{{ parent() }}

{% endblock %}

{% block body %}
	<h1 class="text-center font-serif  md:mt-0 mb-5">
		<i class="fa-duotone dark:brightness-100 fa-fire-flame-curved animate-pulse text-red-500  "></i>
		<span class=" brightness-50 dark:brightness-[1] font-serif ">Les bruits du labo !</span>
	</h1>
	<hr class="my-2 mb-2 mt-8 border-2">
	{{  component('feed_component')}}

{% endblock %}
