<turbo-frame id="loginF">
	<dialog data-modal-target="modal" class="p-0 backdrop:bg-gray-300 backdrop:bg-opacity-10 shadow-xl  open:animate-fade-in open:backdrop:animate-fade-in w-4/12 bg-opacity-0 bg-slate-50 border rounded-lg  dark:bg-gray-800 dark:border-gray-700">
		<div class="w-full p-4 bg-white border border-gray-200 rounded-lg  sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
			<h1 class="text-center">Connexion</h1>
			<form method="post" action={{ path("app_login")}}>
				<div class="mb-3">
					{% if app.user %}
						Vous êtes connecté(e) en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% else %}
					<label for="inputEmail">Adresse email</label>
					<div class="flex">
						<span class="form-icon">
							<i class="fa-regular fa-envelope"></i>
						</span>
						<input type="email" value="" name="email" id="inputEmail" class="form-control icon-desc" autocomplete="email" autofocus>
					</div>
					<label for="inputPassword">Mot de passe</label>
					<div class="flex">
						<span class="form-icon">
							<i class="fa-solid fa-unlock-keyhole"></i>
						</span>
						<input type="password" name="password" id="inputPassword" class="form-control icon-desc" autocomplete="current-password">
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me">
							&nbsp;Se souvenir de moi
						</label>
					</div>
					<button class="btn btn-lg btn-primary " type="submit">
						Me connecter
					</button>
				{% endif %}
			</form>
		</div>
	</dialog>
</turbo-frame>
