<!DOCTYPE html>
<html {% block html_attr %} {% endblock %} id="html" lang="fr" class="scroll-smooth {{app.user ? app.user.userParameters is defined ? app.user.userParameters.darkmode == true ? " dark"}}{{ app.session.get('darkmode') and not app.user ? app.session.get('darkmode') == true ? " dark"}}">
	<head>
		<meta name="theme-color" content="#5f2bef"/>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index,follow">
		<link
		rel="apple-touch-icon" href="/images/favicon.png">

		{# <meta name="turbo-visit-control" content="reload"> #}
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		{% block metatags %}
			<meta name="description" content="L'univers où l'écriture et la lecture se rencontrent. Que vous soyez un lecteur passionné à la recherche de nouvelles œuvres à découvrir, un écrivain souhaitant partager ses créations, ou un auteur en quête d'amélioration grâce à notre atelier d'écriture, Scrilab est l'espace qui vous permet d'exprimer votre passion pour les mots et les histoires. Vous aimez la formule, nous avons l'alchimie !">
			<meta property="og:title" content="Scrilab">
			<meta property="og:description" content="L'univers où l'écriture et la lecture se rencontrent. Que vous soyez un lecteur passionné à la recherche de nouvelles œuvres à découvrir, un écrivain souhaitant partager ses créations, ou un auteur en quête d'amélioration grâce à notre atelier d'écriture, Scrilab est l'espace qui vous permet d'exprimer votre passion pour les mots et les histoires. Vous aimez la formule, nous avons l'alchimie !">
		{% endblock %}
		<title>
			{% block title %}Scrilab
			{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.turbo.min.js" data-turbo="false"></script>


		{% if app.environment == 'dev' %}
			<link href="/images/fa/css/all.min.css" rel="stylesheet">
		{% elseif app.environment == 'prod' %}
			<link rel="stylesheet" href="https://kit.fontawesome.com/5e2ac7f1ef.css" crossorigin="anonymous">
			<script src="https://kit.fontawesome.com/5e2ac7f1ef.js" crossorigin="anonymous"></script>
		{% endif %}


		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DX7NLM4HX"></script>
		{% include "/partials/_google-analytics.html.twig" %}
	</head>
	<body>
		<div class="flex flex-col min-h-screen relative">
			{% include "partials/_navbar.html.twig" %}
			{% include "partials/_confirm-email.html.twig" %}
			{# FLASHES #}
			{% include "partials/_notif.html.twig" %}
			{# END_FLASHESd #}
			<main>
				{% block body %}{% endblock %}
			</main>
			{% include "partials/_footer.html.twig" %}
		</div>
	</body>
</html>
