<!DOCTYPE html>
<html id="html" lang="fr" class="scroll-smooth">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block metatags %}
			<meta name="description" content="Publiez et lisez des romans, des nouvelles, de la poésie et plus encore sur notre plateforme littéraire en ligne. Rejoignez une communauté passionnée de littérature et découvrez de nouveaux talents dès aujourd'hui.">
		{% endblock %}
		<title>
			{% block title %}Scrilab
			{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.turbo.min.js"></script>

		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DX7NLM4HX"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag()
{





dataLayer.push( arguments );





}
gtag( 'js', new Date() );

gtag( 'config', 'G-2DX7NLM4HX' );
		</script>
	</head>
	<body>
		{% include "partials/_navbar.html.twig" %}
		{# FLASHES #}
		{% include "partials/_notif.html.twig" %}
		{# END_FLASHES #}
		<main>
			{% block body %}{% endblock %}
		</main>
		{% include "partials/_footer.html.twig" %}
		<script></script>
	</body>

</html>
