<!DOCTYPE html>
<html id="html" lang="fr" class="scroll-smooth {{app.user ? app.user.userParameters is defined ? app.user.userParameters.darkmode == true ? " dark"}}{{ app.session.get('darkmode') and not app.user ? app.session.get('darkmode') == true ? " dark"}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index,follow">
		<link rel="apple-touch-icon" href="/images/favicon.png">
		{% block metatags %}
			<meta name="description" content="Découvrez une plateforme littéraire en ligne pour publier et lire des romans, des nouvelles, de la poésie, des blogs et bien plus encore. Rejoignez une communauté passionnée de littérature et explorez de nouveaux talents dès maintenant.">
			<meta property="og:title" content="Scrilab Éditions">
			<meta property="og:description" content="Découvrez une plateforme littéraire en ligne pour publier et lire des romans, des nouvelles, de la poésie, des blogs et bien plus encore. Rejoignez une communauté passionnée de littérature et explorez de nouveaux talents dès maintenant.">
		{% endblock %}
		<title>
			{% block title %}Scrilab
			{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.png">
		<script src="https://kit.fontawesome.com/5e2ac7f1ef.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.turbo.min.js"></script>
		<link rel="stylesheet" href="https://kit.fontawesome.com/5e2ac7f1ef.css" crossorigin="anonymous">
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DX7NLM4HX"></script>
		{% include "/partials/_google-analytics.html.twig" %}
		<script></script>
	</head>
	<body data-turbo-track="reload">
		{% include "partials/_navbar.html.twig" %}
		{# FLASHES #}
		{% include "partials/_notif.html.twig" %}
		{# END_FLASHES #}
		<main>
			{% block body %}{% endblock %}
		</main>
		{% include "partials/_footer.html.twig" %}
	</body>
</html>
