<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Scrilab
			{% endblock %}
		</title>
		<link rel="icon" href="images/favicon.png">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://kit.fontawesome.com/8a11333aa0.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		{% include "_partials/_navbar.html.twig" %}

		<div id="main" class="z-auto"> {% block body %}{% endblock %}
			</div>
			{% include "_partials/_footer.html.twig" %}
		</body>
	</html>
</body></html></body></html>
