<!DOCTYPE html>
<html class="" id="html">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Scrilab
			{% endblock %}
		</title>
		<link rel="icon" href="images/favicon.png">
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		<script src="https://kit.fontawesome.com/8a11333aa0.js" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% for message in app.session.flashBag.get('successMessage') %}
			{% for title in app.session.flashBag.get('successTitle') %}
				{% include '_partials/_notif.html.twig'  with {'notifMessage': message, 'notifTitle' : title} %}
			{% endfor %}
		{% endfor %}
		{% include "_partials/_navbar.html.twig" %}
		<main>

			{% block body %}{% endblock %}

		</main>
		{% include "_partials/_footer.html.twig" %}
		<script></script>
	</body>
</html>
