{% extends 'base.html.twig' %}

{% block title %}S'exercer
{% endblock %}
{% block body %}
	<div class="lg:w-9/12 mx-auto">
		<h1 class="text-center font-serif  md:mt-0 mb-5">
			<i class="fa-duotone fa-hand-holding-seedling sexercer" style="--fa-primary-color: #18cd58; --fa-secondary-color: #1e3150; --fa-secondary-opacity: 0.7;"></i>
			<span class="  dark:brightness-[1] font-serif ">S'exercer</span>
		</h1>
		<hr class="my-2 mb-0 mt-8 border-green-400 dark:border-green-400 border-2">
		{% if app.user %}
			<a href="{{path("app_challenge_create")}}" class="bg-green-200 hover:bg-green-300 dark:bg-green-500 dark:text-green-100 dark:hover:bg-green-600 button-classic opacity-100  button-create-topic sticky md:top-16 top-14">
				<span>
					<i class="fa-regular fa-plus-square"></i>&nbsp;&nbsp;Proposer un nouvel exercice
				</span>
			</a>
		{% else %}
			<button class="w-full bg-green-200 hover:bg-green-300 dark:bg-green-500 dark:text-green-100 dark:hover:bg-green-600  button-classic opacity-100  button-create-topic sticky md:top-16 top-14" data-micromodal-trigger="popup-login">
				<span>
					<i class="fa-regular  fa-plus-square"></i>&nbsp;&nbsp;Proposer un nouvel exercice
				</span>
			</button>
		{% endif %}
		{% if challenges|length == 0 %}
			<h2 class="p-10 text-center text-lg md:w-4/6 w-full mx-auto dark:text-slate-400 text-slate-500 flex flex-col gap-y-2">
				<i class="fa-regular fa-hand-holding-seedling fa-slash"></i>
				Aucun exercice n'a encore été créé ! Vous avez l'occasion unique d'être la première personne à proposer un exercice à la communauté.
			</h2>
			<hr class="my-5">

		{% else %}
			<div class="flex flex-col  gap-y-5  mt-7">
				{% for item in challenges %}
					{% include "/challenge/_partials/challenge-card.html.twig" with {item:item} %}
				{% endfor %}


			</div>

		{% endif %}

		<p class="text-sm opacity-70 text-center indent-6 italic">Nous vous invitons à explorer le pouvoir libérateur des limites dans l'art. Vous découvrirez comment l'imposition volontaire de règles ou de restrictions peut ouvrir de nouvelles voies à votre créativité.</p>
		<p class="text-sm opacity-70 text-center indent-6 italic mt-5">
			Vous pourriez vous demander comment les restrictions peuvent améliorer votre travail artistique, mais c'est là que réside le paradoxe de la « contrainte libératoire ». En fixant des limites, nous pouvons en fait stimuler notre imagination et créer quelque chose d'unique et de passionnant.</p>
	</div>
</div>{% endblock %}
