<aside class="bg-white h-screen lg:w-3/12  md:4/6 w-10/12 z-49 shadow-lg  hidden fixed right-0 top-0  bg-opacity-60 p-5 pt-20 transition-all ease-in-out duration-700 backdrop-blur-sm sidebar" id="sidebar">
	<quote class="ring-2 ring-emerald-300 p-5 text-slate-700 italic hidden font-serif flex justify-center" id="insightQuote"></quote>
	{% if app.user.id is defined %}
		{{ form_start(formQuote, {attr:{"data-turbo-frame":"commentFrameQuote"}}) }}
		<div class="flex items-center">
			{{ form_widget(formQuote.content, {attr:{"class":"h-[3.4rem] items-center content-center pt-3"}}) }}
			<input type="hidden" name="quote" id="drawerNoteQuote">
			<button type="submit" class="btn btn-primary h-12" id="sendComment">Envoyer</button>
		</div>
		{{ form_end(formQuote) }}
	{% endif %}
	<turbo-frame id="commentFrameQuote">
		{% include "publication/_partials/_show_chapter_comment.html.twig" with {'quote': "Quote"}  %}
	</turbo-frame>
</aside>
<div class="hidden">
	<input type="hidden" value="" id="drawerSelectedText"/>
	<input type="hidden" value="" id="drawerSelectedTextP"/>
	<input type="hidden" value="" id="drawerSelectedTextEl"/>
	<input type="hidden" value="" id="drawerSelectedTextContext"/>
	<input type="hidden" value="4" id="drawerColor"/>


</div>
