<aside class="bg-slate-50 dark:bg-slate-900 border-l-[1px] border-l-slate-200 dark:border-l-slate-900 h-screen lg:w-3/12  backdrop-sepia-0 md:4/6 w-10/12 z-49 shadow-lg  hidden fixed right-0 top-0  bg-opacity-90 p-5 overflow-auto pt-20 transition-all ease-in-out duration-700 backdrop-blur-sm sidebar" id="sidebar">
	{% if app.user.id is defined %}
		<div>
			<h2 class="text-lg dark:text-white">
				<i class="fa-regular fa-comment-dots"></i>
				&nbsp;Votre commentaire</h2>
			<blockquote class="mt-4 border-l-4 hidden border-emerald-200 pl-4 italic text-slate-500 " id="insightQuote">
				<p class="font-serif  quoteComment cursor-alias  text-[0.85rem]"></p>
			</blockquote>
			{{ form_start(formQuote, {attr:{"data-turbo-frame":"comment-section"}}) }}
			<label for="publication_chapter_comment_content" class="sr-only">Votre commentaire</label>
			<div class="flex items-center py-2 w-full rounded-lg bg-gray-50 dark:bg-inherit">
				{{ form_widget(formQuote.content, {attr:{"class":"block p-2.5 w-full text-sm text-gray-900 resize-none bg-white dark:bg-slate-800 pr-12 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
				<button id="sendComment" type="submit" class="inline-flex justify-center p-2 text-slate-600 rounded-full cursor-pointer hover:bg-blue-100 dark:bg-slate-600 hover:text-blue-500 dark:text-blue-500 dark:hover:bg-gray-600 -ml-10 mt-4">
					<svg aria-hidden="true" class="w-6 h-6 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
					</svg>
					<span class="sr-only">Envoyer</span>
				</button>
			</div>
			<input type="hidden" name="quote" id="drawerNoteQuote">
			{{ form_end(formQuote) }}
		</div>
		<hr class="mb-5 shadow bg-slate-50 border-slate-50">
	{% endif %}
	<turbo-frame id="comment-section">
		{% if pCom|length == 0 %}
			<p class="mb-3 text-center text-lg font-semibold">
				<span class="material-symbols-outlined">
					comments_disabled
				</span>
			</p>
			<p class="mb-5 text-center font-bold">
				Aucun commentaire pour le moment
			</p>
			{% if not app.user %}
				<hr class="mb-5">
				<p class="text-center font-medium">
					<button data-micromodal-trigger="popup-login" class="hover:underline">Connectez-vous pour commenter !</button>
				</p>
			{% endif %}
		{% endif %}
		{% set n = 0 %}
		{% for item in pCom %}
			{% include "publication/_partials/_comment.html.twig" with { item:item, n:n, pcom:nbrCom} %}
			{% set n = n + 1  %}
		{% endfor %}
		{% if nbrShowCom < nbrCom %}
			{% if infoPub.slug %}
				{% set chapterSlug = infoPub.slug %}
			{% else %}
				{% set chapterSlug = "feuille-n0" ~ (chapter.orderDisplay + 1) %}
			{% endif %}
			<a href="{{path("app_chapter_show", {user:infoPub.user.id, slug:chapterSlug, slugPub:infoPub.slug, idChap:infoChap.id, nbrShowCom:nbrShowCom + 10})}}">Afficher plus de commentaires</a>
		{% endif %}
	</turbo-frame>
</aside>
<div class="hidden">
	<input type="hidden" value="" id="drawerSelectedText"/>
	<input type="hidden" value="" id="drawerSelectedTextP"/>
	<input type="hidden" value="" id="drawerSelectedTextEl"/>
	<input type="hidden" value="" id="drawerSelectedTextContext"/>
	<input type="hidden" value="4" id="drawerColor"/></div>
