<div class="flex ">
	{% if not app.user %}
		<div data-micromodal-trigger="popup-register" class="item-fake">
			<span class="write-and-publish w-2/6"></span>
			<span class=" w-4/6 items-center flex flex-col justify-center text-slate-800 dark:text-slate-400">
				<span>
					<i class="fa-duotone fa-feather"></i>
				</span>
				<span>Écrire et publier mon récit</span>
			</span>
		</div>
	{% else %}
		<a href="{{path("app_publication_add")}}" target="_top" class="item-fake">
			<span class="write-and-publish w-2/6"></span>
			<span class=" w-4/6 items-center flex flex-col justify-center text-slate-800 dark:text-slate-400 text-xs">
				<span>
					<i class="fa-duotone fa-feather"></i>
				</span>
				<span>Écrire et publier mon récit</span>
			</span>
		</a>
	{% endif %}
</div>
