{% extends 'base.html.twig' %}

{% block title %}Mes publications
{% endblock %}


{% block body %}

	<section class="col-span-12">
		{% for item in publication %}
			<p>{{ item.title }}
				|
				<a href="{{ path("app_publication_edit", {id:item.id}) }}">éditer</a>
				|
				<a href="{{ path("app_publication_delete", {id:item.id}) }}">supprimer</a>
			</p>
		{% endfor %}
	</section>
{% endblock %}
